@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;

  --primary-color: #1D1E1C;
  --text-color: #000;
  --secondary-text-color: #FFF;

  --navigation-heihgt: 4rem;

  @media screen and (min-width: 600px) {
    --navigation-heihgt: 6rem;

  }
}